<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Configuration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('.static', filename='reports.css')}}">

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Sleep Monitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Configure<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/report_generator">Reports<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">Log out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="col">
    <div class="col">
        <div style="height:20px"></div>
        <h3>Edit sleeping configurations</h3>
        <p>Enter your sleeping time to notify you with a report</p>
        <p> Your current configuration is: email {{ email }},  from {{ initial }},  to {{ end }}</p>
        <div style="height:10px"></div>
    </div>

    <div class="col">
        <form name="sleep_range" method="POST">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Email: </label>
                        <input name="mail" type="email" class="form-control" id="email" placeholder="example@mail.com">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Time from: </label>
                        <input name="initial" type="time" class="form-control" id="formGroupExampleInput"
                               placeholder="Example input">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Time to: </label>
                        <input name="end" type="time" class="form-control" id="formGroupExampleInput2"
                               placeholder="Another input">
                    </div>
                </div>
            </div>
            <div style="width:10px"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div style="height:15px"></div>
    <div class="alert alert-success" role="alert" style="display:inline-block;">
        {{ messages[0]|capitalize }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endwith %}
</div>

<footer class="text-muted bg-light">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>©2019 Sleepmonitor Inc.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    function validate(){
    console.log(document.sleep_range.initial.value);
    console.log(document.sleep_range.end.value);
    }



</script>
</body>
</html>