<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="{{url_for('.static', filename='reports.css')}}">-->


</head>
<body>
<div style="background-color:#fff; padding-left:50px">
    <div style="height:30px"></div>
    <h3>Report</h3>
    <div style="height:10px"></div>
    <p>From: {{ from }}</p>
    <p>To: {{ to }}</p>
    <hr>
</div>

<div class="row" style="margin:auto">
    <div class="col-md-6"><img src={{ imghum }} alt="Image Placeholder" width="100%" height="auto">
    </div>
    <div class="col-md-6"><img src="/report/hum" alt="Image Placeholder" width="100%" height="auto">
    </div>
    <div class="col-md-6"><img src="/report/light" alt="Image Placeholder" width="100%" height="auto">
    </div>
</div>

<footer class="text-muted bg-light" style=" padding-top: 3rem;
    padding-bottom: 3rem;">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>©2019 Sleepmonitor Inc.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>