cffi==1.13.0
Click==7.0
cryptography==2.8
cycler==0.10.0
DateTime==4.3
entrypoints==0.3
Flask==1.1.1
future==0.17.1
iso8601==0.1.12
itsdangerous==1.1.0
jeepney==0.4.1
Jinja2==2.10.3
keyring==19.2.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.17.2
pycparser==2.19
pyparsing==2.4.2
pyserial==3.4
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.4
SecretStorage==3.1.1
six==1.12.0
Werkzeug==0.16.0
yagmail==0.11.220
zope.interface==4.6.0