Click==7.0
cycler==0.10.0
Flask==1.1.1
future==0.17.1
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.22.0
pyparsing==2.4.2
pyserial==3.4
python-dateutil==2.8.0
PyYAML==5.1.2
serial==0.0.97
six==1.12.0
Werkzeug==0.16.0